@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                           <#input id="id" name="主键id" value="${item.id}" underline="true" disabled="disabled"/>
                            <#input id="chartId" name="榜单id" value="${item.chartId}" underline="true"/>
                            <#input id="sort" name="排序" value="${item.sort}" underline="true"/>
                            <#input id="crbtId" name="歌曲版权id" value="${item.crbtId}" />
                            <#input id="contentId" name="内容id"  value="${item.contentId}"/>
                </div>

                <div class="col-sm-6">
                            <#input id="songName" name="歌曲名称" value="${item.songName}" underline="true"/>
                            <#input id="playCount" name="播放次数" value="${item.playCount}" underline="true"/>
                            <#input id="singerName" name="歌手名称" value="${item.singerName}" underline="true"/>
                            <#input id="vrbtImg" name="图片地址" value="${item.vrbtImg}" underline="true"/>
<!--                            <#input id="updatetime" name="更新时间" value="${item.updatetime}" />-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SongListInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SongListInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/songList/songList_info.js"></script>
@}
