@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                          <#input id="id" name="主键id" value="${item.id}" underline="true" disabled="disabled"/>
                            <#input id="chartId" name="榜单id" value="${item.chartId}" underline="true"/>
                            <#input id="chartName" name="榜单名称" value="${item.chartName}" />
                </div>

                <div class="col-sm-6">
                            <#input id="sort" name="排序" value="${item.sort}" underline="true"/>
<!--                            <#input id="updatetime" name="操作时间" value="${item.updatetime}" />-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ChartListInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ChartListInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/chartList/chartList_info.js"></script>
@}
