@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" underline="true"/>
                            <#input id="msdn" name="手机号" underline="true"/>
                            <#input id="subchannel" name="子渠道标识" underline="true"/>
                            <#input id="opttype" name="业务类型1、开通彩铃功能  2、开通彩铃包月  3、彩铃订购" underline="true"/>
                            <#input id="optdesc" name="与opttype 一一对应（开通彩铃功能  开通彩铃包月  彩铃订购）"/>
                </div>

                <div class="col-sm-6">
                            <#input id="returncode" name="opensdk 返回码" underline="true"/>
                            <#input id="returndesc" name="opensdk 返回描述" underline="true"/>
                            <#input id="cpid" name="版权ID" underline="true"/>
                            <#input id="updatetime" name="操作时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ActivityLogInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ActivityLogInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/activityLog/activityLog_info.js"></script>
@}
